////////////////////////////////////////////////////////////////////////////////
// "base" partial
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

//
// Links
//
a {
  color: $link_color;
  text-decoration: none;
  &:link {
  }
  &:visited {
    color: $visited_link_color;
  }
  &:hover {
    color: $active_link_color;
  }
  &:focus {
    color: $active_link_color;
    outline: thin dotted;
  }
  &:hover, &:active {
    color: $active_link_color;
    text-decoration: underline;
    outline: 0; // Improve readability when focused and hovered in all browsers: h5bp.com/h
  }
  .ctools-modal-content & {
    color: #000;
  }
}

#navigation {
  ul {
    margin: 0px;
    float: left;
    padding: 0px;
  }
  li {
    list-style: none;
    margin: 5px;
    float: left;
  }
}

#footer {
  p {
    margin:0px;
  }
}

//
// Typography
//
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: $header_text_color;
  @include breakpoint($mobile) {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    @include font-size(16);
    color: $header_text_color;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  @include font-size(56);

  font-size: 6vh;
  line-height: 1.1em;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

h2 {
  @include font-size(44);
  font-weight: 300;
  margin-bottom: 0.25em;
}

h3 {
  @include font-size(36);
  margin-bottom: 0.3em;
  .panels-ipe-placeholder & {
    color: $header_text_color;
  }
}

h4 {
  @include font-size(18);
  margin-bottom: 0.3em;
}

h5 {
  @include font-size(16);
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  @include font-size(13);
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: $monospace_font; // Redeclare monospace font family: h5bp.com/j
  @include font-size(13);
  line-height: 1.5em;
}

pre { // Improve readability of pre-formatted text in all browsers
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup { // Position subscript and superscript content without affecting line-height: h5bp.com/k
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

//
// Lists
//
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
      ul {
        list-style-type: circle;
      }
    }
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: decimal;
    }
  }
}

p img {
  @include breakpoint($tablet) {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

img {
  @include breakpoint($tablet) {
    border: 0;
    max-width: 100%;
  }
}
table {
  @include breakpoint($tablet) {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

