////////////////////////////////////////////////////////////////////////////////
// Module Styles
// --------------------
// This partial defines the styles for modules. Most custom
// styling should go here.
//
// Styling of standard HTML elements (paragraphs, headers, lists, etc...) can
// be found in _base.scss.
//
// Positioning of major page elements can be found in _layout.scss.
////////////////////////////////////////////////////////////////////////////////

#header,
#footer {
  @include pad-size($section_padding);
}
#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  border:$border;
}

#header {
  background: $header_bg;
}

#sidebar-first {
  background: $sidebar_first_bg;
}

#sidebar-second {
  background: $sidebar_second_bg;
}

#navigation {
  background: $navigation_bg;
}

#footer {
  background: $footer_bg;
}

// Layouts

.panel-pane {
  clear:  both;
  padding-bottom: 0.5em;
}

.periodic-header .panel-pane {
  padding-bottom: 0;
}

.periodic-headerfirst {
  width: 100%;
}

.periodic-headersecond {
  width: 100%;
}

.periodic-container-inner {
  padding: 0 5vmin;
}


/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {
  .periodic-header {
    position: relative;
  }

  .periodic-headerfirst {
    min-height: 1px;
    width: 68.085%;
    float: left;
    .pane-node-title {
      padding:.2em;
    }
  }

  .periodic-headersecond {
    min-height: 1px;
    width: 31.915%;
    float: left;
  }

  // Date and time pane styling
  .pane-date-time {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 500px;
  }

}

.periodic-headersecond .pane-date-time .pane-content {
  margin: 0 1vw 1vh 0;
}

.periodic-headersecond #timespan, .periodic-headersecond #datespan {
  white-space: nowrap;
}

#timespan, #datespan {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #111;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.periodic-header {
  background: #111;
  color: #eee;
}


.periodic-footer {
  background: #111;
  color: #eee;
  position: fixed;
  bottom: 0;
  z-index: 5;

}

//Helps keep IPE controls from going over footer and keeps
//footer from being weird in the IPE interface
.panels-ipe {
  .periodic-footer {
    position: relative;
  }
}

.liScroll-container {
  width: inherit;
  height: 3em;
  .mask {
    width: inherit;
  }
}

ul.liScroll {
  font-size: 1em;
  li {
    white-space: nowrap;
  }
}

.pane-signage-rss-feeds-feed-ticker {
  h2 {
    float: left;
    margin-top: 0.7em;
    line-height: 1.5em;
  }
}

.flexslider {
  background-color: transparent;
  @include box-shadow(none);

}
