#page {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 100%) {
  #page {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #page {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

body, #page {
  height: 100%;
}

@media only screen and (max-width: 100%) {
  body {
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media only screen and (max-width: 100%) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#main {
  position: relative;
}
@media only screen and (max-width: 100%) {
  #main {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    padding-bottom: 0px;
    position: static;
  }
}

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-bottom: auto;
}

.sidebar {
  float: left;
}

#sidebar-second {
  float: right;
}
@media only screen and (max-width: 100%) {
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

#footer {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 100%) {
  #footer {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #footer {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

@media only screen and (max-width: 480px) {
  #content #content-inner.center {
    margin: 0px;
  }
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

#navigation {
  margin-left: 0;
  padding: 10px;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  #navigation {
    clear: both;
    padding: 5px;
    padding: 0.5rem;
  }
}

.page-node-templates #page,
.page-node-slides #page,
.page-home #page,
.node-type-signage-group #page {
  padding: 0 5%;
}

a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #e6e6e6;
}
a:focus {
  color: #e6e6e6;
  outline: thin dotted;
}
a:hover, a:active {
  color: #e6e6e6;
  text-decoration: underline;
  outline: 0;
}
.ctools-modal-content a {
  color: #000;
}

#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

#footer p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: white;
}
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: white;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1 {
  font-size: 56px;
  line-height: 84px;
  font-size: 5.6rem;
  line-height: 8.4rem;
  font-size: 6vh;
  line-height: 1.1em;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 44px;
  line-height: 66px;
  font-size: 4.4rem;
  line-height: 6.6rem;
  font-weight: 300;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 36px;
  line-height: 54px;
  font-size: 3.6rem;
  line-height: 5.4rem;
  margin-bottom: 0.3em;
}
.panels-ipe-placeholder h3 {
  color: white;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0.3em;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

dd {
  margin: 0 0 0 2em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

@media only screen and (max-width: 100%) {
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 100%) {
  img {
    border: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 100%) {
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

#site-name {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

div.view div.views-admin-links {
  width: auto;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, #navigation {
  *zoom: 1;
}
.clearfix:before, #navigation:before {
  content: "";
  display: table;
}
.clearfix:after, #navigation:after {
  content: "";
  display: table;
  clear: both;
}

.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

.floatleft, .fleft, .floatl {
  display: inline;
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  display: inline;
  float: right;
  margin: 0 0 5px 10px;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #777;
}

#edit-delete {
  color: #c00;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: white;
}
.ctools-modal-content html, .ctools-modal-content button, .ctools-modal-content input, .ctools-modal-content select, .ctools-modal-content textarea {
  color: #000;
}

input {
  color: #000;
}

label {
  color: #fff;
}
.ctools-modal-content label {
  color: #000;
}

body {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  background: #292929;
}

#content-area {
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem;
}

::-moz-selection {
  background: white;
  color: black;
  text-shadow: none;
}

::selection {
  background: white;
  color: black;
  text-shadow: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

td {
  vertical-align: top;
}

td a {
  color: #000;
}

tr.even,
tr.odd {
  background-color: transparent;
}
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.wireframe-mode .block {
  margin-bottom: 3px;
}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
.wireframe-mode #navigation {
  height: 50px;
}

#header,
#footer {
  padding: 10px;
  padding: 1rem;
}

#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  border: 1px dotted #888888;
}

#header {
  background: white;
}

#sidebar-first {
  background: white;
}

#sidebar-second {
  background: white;
}

#navigation {
  background: white;
}

#footer {
  background: white;
}

.panel-pane {
  clear: both;
  padding-bottom: 0.5em;
}

.periodic-header .panel-pane {
  padding-bottom: 0;
}

.periodic-headerfirst {
  width: 100%;
}

.periodic-headersecond {
  width: 100%;
}

.periodic-container-inner {
  padding: 0 5vmin;
}

/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {
  .periodic-header {
    position: relative;
  }

  .periodic-headerfirst {
    min-height: 1px;
    width: 68.085%;
    float: left;
  }
  .periodic-headerfirst .pane-node-title {
    padding: .2em;
  }

  .periodic-headersecond {
    min-height: 1px;
    width: 31.915%;
    float: left;
  }

  .pane-date-time {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 500px;
  }
}
.periodic-headersecond .pane-date-time .pane-content {
  margin: 0 1vw 1vh 0;
}

.periodic-headersecond #timespan, .periodic-headersecond #datespan {
  white-space: nowrap;
}

#timespan, #datespan {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #111;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.periodic-header {
  background: #111;
  color: #eee;
}

.periodic-footer {
  background: #111;
  color: #eee;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.panels-ipe .periodic-footer {
  position: relative;
}

.liScroll-container {
  width: inherit;
  height: 3em;
}
.liScroll-container .mask {
  width: inherit;
}

ul.liScroll {
  font-size: 1em;
}
ul.liScroll li {
  white-space: nowrap;
}

.pane-signage-rss-feeds-feed-ticker h2 {
  float: left;
  margin-top: 0.7em;
  line-height: 1.5em;
}

.flexslider {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  #page {
    width: 100%;
  }

  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  a:hover, a:active, a:link, a:visited {
    color: black;
  }

  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
    line-height: 16.5px;
    font-size: 1.1rem;
    line-height: 1.65rem;
    font-weight: normal;
  }
}
