/**
 * @file
 * Hydrogen flipped panel layout
**/

.hydrogen-content {
  width: 100%;
}

.hydrogen-container-inner {
  padding: 0.5em;
}

/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {

  .hydrogen-contentmain {
     width: 68.085%;
    float:left;
  }

  .hydrogen-content-inner {
    padding-left: 20px;

  }

  .hydrogen-sidebar {
    width: 31.915%;
    float:left;
  }

  .hydrogen-footer {
    width:100%;
    clear: both;

  }

}




/* Old stuff */
/*.hydrogen-container {
  margin-bottom: 1em;
}

.hydrogen-content {
  min-height: 1px;
  width: 68.085%;
  float: left;
}

  .hydrogen-content-inner {
    margin-right: 20px;
  }

.hydrogen-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left;
}*/

/* iPhone [portrait + landscape] */
/*@media only screen and (max-width: 480px) {
  .hydrogen-sidebar,
  .hydrogen-content {
    width: 100%;
    float: none;
  }

  .hydrogen-content-inner {
    margin-right: 0;
  }
}*/
