/**
 * @file
 * Oxygen panel layout
**/


/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {

  .oxygen-content{
    width:100%;

  }
  .oxygen-footer {
    width:100%;
    clear:both;
  }

}




/* Old stuff */
/*.oxygen-container {
  margin-bottom: 1em;
}

.oxygen-content {
  min-height: 1px;
  width: 68.085%;
  float: left;
}

  .oxygen-content-inner {
    margin-right: 20px;
  }

.oxygen-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left;
}*/

/* iPhone [portrait + landscape] */
/*@media only screen and (max-width: 480px) {
  .oxygen-sidebar,
  .oxygen-content {
    width: 100%;
    float: none;
  }

  .oxygen-content-inner {
    margin-right: 0;
  }
}*/
