/**
 * @file
 * Nitrogen panel layout
**/


/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {

  .nitrogen-headerfirst {
    min-height: 1px;
    width: 68.085%;
    float: left;
  }

  .nitrogen-headerfirst-inner {
    margin-right: 20px;
  }

  .nitrogen-headersecond {
    min-height: 1px;
    width: 31.915%;
    float: left;
  }

}
