/**
 * @file
 * Helium flipped panel layout
**/

.helium-contentmain {
  width: 100%;
}

.helium-sidebar {
  width: 100%;
}

.helium-container-inner {
  padding: 0.5em;
}


/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {
  /* Header first and second are controled in _modules.scss */


  .helium-sidebar {
    width: 31.915%;
    float: left;
  }

  .helium-contentmain {
    width: 68.085%;
    float: left;
  }

  .helium-contentmain-inner {
    padding-left: 20px;
  }

}
